main{display: flex;
    margin-left: 80px;
    margin-bottom: 50px;}
.receptor{background-image: url("imagenes/Muñeco.png");
          background-repeat: no-repeat;
          background-position: 18px;}